# .phpstan.neon
#
# Setup for phpstan static analysis
#
# @category  None
# @package   \
# @author    Rick Morice <rick@floor9design.com>
# @copyright Floor9design Ltd
# @license   Proprietary software
# @version   1.0
# @link      https://github.com/floor9design-ltd/json-api-formatter
# @link      https://floor9design.com
# @since     File available since pre-release development cycle
parameters:
    level: max
    paths:
        - src
